<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">

    <ion-item>
      <ion-label position="stacked">Cliente</ion-label>
      <ion-select (ionChange)="carregarListaPet()" interface="popover" formControlName="idCliente" name="idCliente">
        <ion-select-option *ngFor="let cliente of clientes"
          [value]="cliente.idCliente">{{cliente.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Pet</ion-label>
      <ion-select interface="popover" formControlName="idPet" name="idPet">
        <ion-select-option *ngFor="let pet of pets" [value]="pet.idPet">{{pet.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Observação</ion-label>
      <ion-input type="text" formControlName="observacao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input type="text" readonly formControlName="valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data do pedido</ion-label>
      <br>
      <ion-datetime formControlName="dtPedido" name="dtPedido" presentation="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-toggle formControlName="flPago" color="primary">Pago</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle formControlName="flExecutado" color="primary">Executado</ion-toggle>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Agendar</ion-button>
  </form>
</ion-content>

<ng-template [ngIf]="petServico.idPetServico !== 0">
  <ion-content>
    <form [formGroup]="formGroup2" (ngSubmit)="adicionar()">

      <br>

      <ion-item>
        <ion-label>
          <h1>Novo serviço</h1>
        </ion-label>

        <ion-label position="stacked">Serviço</ion-label>
        <ion-select interface="popover" formControlName="idServico" name="idServico">
          <ion-select-option *ngFor="let servico of servicos"
            [value]="servico.idServico">{{servico.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup2.valid">
        Adcionar
      </ion-button>
    </form>
  </ion-content>

  <ion-content>
    <br>

    <ion-item>
      <ion-label>
        <h1>Serviços</h1>
      </ion-label>
    </ion-item>

    <ion-list>
      
      <ion-item-sliding *ngFor="let petServicoOrdem of petServicoOrdems">
        <ion-item>
          <ion-label>
            <h2>
              Nome: {{petServicoOrdem.servico.nome}}
            </h2>
            <p>
              Valor: {{petServicoOrdem.servico.valor}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="excluir(petServicoOrdem)" color="danger">Excluir</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ion-content>
</ng-template>